<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MediCords | About Us</title>
  </head>
  <body>

    <header>
          <div class="navbar">
              <div class="logo">
                  <img src="img/logo.png" alt="Logo">
                  <h3>MediCords</h3>
              </div>

              <div class="links">
                  <ul>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/vision">Vision</a></li>
                      <li><a href="/register" class="btn">Sign up</a></li>
                  </ul>
              </div>
              <div class="overlay"></div>
              <div class="hamburger-menu">
                  <div class="bar"> </div>
              </div>
       </div>
      </header>


    <div class="section">
      <div class="container">
        <div class="title">
          <h1>About Us</h1>
        </div>
        <div class="content">
          <div class="article">
            <h3>MediCords is a two way path for patient and doctor to access, manage and modify the medical records.</h3>
            <p>A medical records management system is a system used to store, manage, and retrieve electronic medical records.</p>
            <p>A medical records management system is a software application that helps healthcare organizations manage and store patient medical records. These systems usually include tools for managing appointments, prescriptions, and billing information. Some systems may also include features for managing clinical data and patient histories.</p>
            <p>The medical history of a patient is a record of the patient's medical events and conditions. The medical history can be used to provide a comprehensive view of the patient's health, and can be used to diagnose and treat new and existing conditions. The medical history can also be used to identify risk factors for future health problems.</p>

            <p>A blockchain for records management (RMA) is a digital ledger that allows organizations to securely store, track, and manage their records. The ledger is distributed across a network of computers, making it tamper-resistant and highly secure. With a blockchain RMA, organizations can be sure that their records are accurate and up-to-date, and that they can be easily accessed by authorized personnel.</p>
            <div class="button">
              <a href="#">Read More</a>
            </div><br>
          </div>
        </div>
        <div class="img-section">
          <img src="img/logo.png" alt="" class="image">
        </div>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <br>
          <br>
          <p class="name">© MediCords.</p>
        </div>
      </div>

    </div>
  </body>
</html>
