<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/home.css">
    <title>MediCords | Home</title>
  </head>
  <body>
    <header>
          <div class="navbar">
              <div class="logo">
                  <img src="img/logo.png" alt="Logo">
                  <h3><span style="color: #019e00">Medi</span><span style="color: #017dbc;">Cords</span></h3>
              </div>

              <div class="links">
                  <ul>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/vision">Vision</a></li>
                      <li><a href="/register" class="btn">Sign up</a></li>
                  </ul>
              </div>
              <div class="overlay"></div>
              <div class="hamburger-menu">
                  <div class="bar"> </div>
              </div>
       </div>
      </header>



    <section class="section-top">
      <div class="content rellax" data-rellax-speed="5">
        <h1><span style="color: #019e00">Medi</span><span style="color: #017dbc;">Cords</span></h1> <h2>A Pathway between YOU & YOUR Doctor.</h2>
        <a href="#" class="btn">Login</a>
      </div>
    </section>

    <section class="section-stream">
      <img src="img/logo.png" alt="" style="width:30%" class="play rellax" data-rellax-speed="1" data-rellax-xs-speed="-5">

      <div class="content rellax" data-rellax-speed="10">
        <div>
          <h2 class="secondary-text">Digital Transformation</h2>
          <p>Digitizing medical records include improved accuracy and efficiency in record-keeping, easier accessibility of records, and reduced costs associated with storage and retrieval of records.</p>
        </div>

        <div>
          <h2 class="secondary-text">One Platform for all your Medical Records</h2>
          <p>Get real-time access to all your medical records from any computer or mobile device. </p>
        </div>
      </div>
    </section>

    <section class="section-grid">
      <div class="rellax" data-rellax-speed="1" data-rellax-xs-speed="3">
        <i class="fa-solid fa-hospital secondary-text"></i>
        <h2>Healthcare Consumerism</h2>
        <p>It is a movement that aims to empower healthcare consumers to take more control over their own health and healthcare decisions.</p>
      </div>

      <div class="rellax" data-rellax-speed="4" data-rellax-xs-speed="3">
        <i class="fas fa-users fa-3x secondary-text"></i>
        <h2>Connectivity</h2>
        <p>The hospital, doctor and patients should be able to communicate and interact with each other in order to exchange information and coordinate their activities.</p>
      </div>

      <div class="rellax" data-rellax-speed="7" data-rellax-xs-speed="3">
        <i class="fas fa-book fa-3x secondary-text"></i>
        <h2>Faster & Better Diagnosis</h2>
        <p>With the use of technology, your doctor can diagnose you faster and better. They can have access to your medical records and can have a look at your previous medical history.</p>
      </div>

    </section>

    <div class="bottom-container container">
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <br>
        <br>
        <p class="name">© MediCords.</p>
      </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      let rellax = new Rellax('.rellax');
    </script>

  </body>
</html>
