<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICORDS: secure your medical records</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>

   <div class="big-wrapper light">
    <img src="img/shape.png" alt="" class="shape" />


    <header>
        <div class="container">
            <div class="logo">
                <img src="img/logo.png" alt="Logo">
                <h3>MEDICORDS</h3>
            </div>

            <div class="links">
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/vision">Vision</a></li>
                    <li><a href="/register" class="btn">Sign up</a></li>
                </ul>
            </div>
            <div class="overlay"></div>
            <div class="hamburger-menu">
                <div class="bar"> </div>
            </div>
     </div>
    </header>

    <div class="showcase-area">
        <div class="container">
            <div class="left">
                <div class="big-title">
                    <h1>Let's Digitalize,</h1>
                    <h1>Your Medical Records.</h1>
                </div>
                <p class="text">Keeping all your medical history in the form of paper is a hectic process. keep your records digitally on the portal, available to you at every single moment of the day with just a single click away.</p>
                <div class="cta">
                    <a href="/login" class="btn">Get started</a>
                </div>
            </div>
    
            <div class="right">
                <img src="img/person.png" alt="person-image" class="person">
            </div>
        </div> 
    </div>


<div class="bottom-area">
    <div class="container">
         <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
     </div>
    </div>
   </div>
</main>


<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="js/app.js"></script>
</body>
</html>