<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="css/report.css">
</head>

    <body>

      <header>
            <div class="navbar">
                <div class="logo">
                    <img src="img/logo.png" alt="Logo">
                    <h3>MediCords</h3>
                </div>

                <div class="links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="/vision">Vision</a></li>
                        <li><a href="/register" class="btn">Sign up</a></li>
                    </ul>
                </div>
                <div class="overlay"></div>
                <div class="hamburger-menu">
                    <div class="bar"> </div>
                </div>
         </div>
        </header>




        <h2>PATIENT REPORTS &ndash; all medical history</h2>
        <div class="card">
          <form action="/report" method="post" enctype="multipart/form-data" class="item">
              <input type="file" name="image" class="btn1">
              <button type="submit" name="button" class="btn">ADD FILE</button>
          </form>
        <div class="gallery-grid">

          <figure class="gallery-frame1">
            <img class="gallery-img" src="img/sample2.png" alt="symbol image" title="symbol image">

          </figure>
          <figure class="gallery-frame2">
            <img class="gallery-img" src="img/sample3.png" alt="symbol image" title="symbol image">

          </figure>
          <figure class="gallery-frame3">
            <img class="gallery-img" src="img/sample4.png" alt="symbol image" title="symbol image">

          </figure>
          <figure class="gallery-frame4">
            <img class="gallery-img" src="img/mri.jpg" alt="symbol image" title="symbol image">

          </figure>
          <figure class="gallery-frame5">
            <img class="gallery-img" src="img/mri2.jpg" alt="symbol image" title="symbol image">

          </figure>
        ><!-- end:gallery-grid -->
      </body>

</html>
