<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MediCords | Vision</title>
  <link rel="stylesheet" href="css/vision.css">
  <link rel="icon" href="Images/medicords.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>

  <header>
        <div class="navbar">
            <div class="logo">
                <img src="img/logo.png" alt="Logo">
                <h3>MediCords</h3>
            </div>

            <div class="links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/vision">Vision</a></li>
                    <li><a href="/register" class="btn">Sign up</a></li>
                </ul>
            </div>
            <div class="overlay"></div>
            <div class="hamburger-menu">
                <div class="bar"> </div>
            </div>
     </div>
    </header>


  <div class="middle-container">
    <div class="profile">
      <img src="img\vision.png" alt="Profile Pic" style="width:200px; height:200px;">
      <h1 class="Vision">Vision</h1>
      <p class="intro"><span class="span">MediCords</span> - A portal to take care of your Health Records.</p>
<p class="intro">Now you no need to manage a whole bunch of paper based health records because DASTAWEZ is a portal which provides you the
facility to store your medicals records on a decentralized server which can also be accessed by your beloved Docs at the time of need.</p>
    </div>
    <hr>

    <div class="skills">

      <div class="skill-row">
        <img class="skill1" src="img/records.png" alt="design-img" >
        <h3 class="h3">Maintaining Medical Records</h3>
        <p>MediCords will be the centralized portal for everyone to upload their previous and future medical records. Available to them 24/7.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill2" src="img/accessibility.png" alt="dev_img" >
        <h3 class="h3">Accessibility</h3>
        <p>Health Records at MediCords will be accessible by Patients and by the Docs after proper authorization.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill1" src="img/availability.png" alt="design-img" >
        <h3 class="h3">Availability</h3>
        <p>MediCords will available to Patients and Doctors at anytime and every moment of the day </p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill2" src="img/Medical Research.png" alt="dev_img" >
        <h3 class="h3">Medical Research</h3>
        <p>Recorded data can be used for medical research purposes helping us to fight better against health issues.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill1" src="img/Statistical Studies.png" alt="design-img" >
        <h3 class="h3">Statistical Studies</h3>
        <p>Stats can be prepared based on the data of patients (keeping their identity anonymous) to get real time exposure of health issues in the country.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill2" src="img/Data Security.png" alt="dev_img" >
        <h3 class="h3">Data Security</h3>
        <p>Data will never be in danger of intentional theft or manipulation.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill1" src="img/Data Safety.png" alt="design-img" >
        <h3 class="h3">Data Safety</h3>
        <p>Data will always be safe from accidental loss or manipulation.</p>
      </div>

      <hr>

      <div class="skill-row">
        <img class="skill2" src="img/Data Integrity.png" alt="dev_img" >
        <h3 class="h3">Data Integrity</h3>
        <p>True and complete data is a mandate.</p>
      </div>


    </div>

  </div>
  <br>
  <br>


  <div class="bottom-container container">
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <p class="name">© MediCords.</p>
    </div>
  </div>



</body>

</html>
